services:
  api:
    build:
      context: .
      dockerfile: ./docker/django/Dockerfile
    command: /start
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
      - media_volume:/app/mediafiles
    ports:
      - 8000:8000
    env_file:
      - .env
    environment:
      - DJANGO_SETTINGS_MODULE=Newproject.settings
      - PG_HOST=postgres-db
      - PG_PORT=5432
    depends_on:
      - postgres-db
    networks:
      - newproject # Use the correct network name
  postgres-db:
    image: postgres:15.0-alpine
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    networks:
      - newproject # Use the correct network name
  redis:
    image: redis:5-alpine
    ports:
      - "6379:6379"
    networks:
      - newproject
    restart: always

networks:
  newproject:
    driver: bridge
volumes:
  postgres_data:
  static_volume:
  media_volume:
