<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>

<body>
    <h1>Details of article</h1>
    <div>
        <h1>Articles</h1>
        Article Title : {{ article_name }}
        Article Content : {{ article_content }}
    </div>
    <div>
        <h1>Object list</h1>
        {% for x in object_list %}
        <p>Object Name: {{ x }} <br> Title : {{ x.title }} <br> Content: {{ x.content }} <br>

        </p>
        {% endfor %}
    </div>
    {% block content %}
    {% endblock %}
</body>

</html>