{% extends 'base.html' %}
{% load static %}
{% block title %} User Registration {% endblock %}

{% block content %}
<div class="min-h-screen flex items-center justify-center bg-gray-100">
    <div class="bg-white p-8 rounded-2xl shadow-md w-full max-w-md">
        <h2 class="text-2xl font-bold mb-6 text-center text-gray-800">Create a New Account</h2>
        <form action="{% url 'users:register' %}" method="post" class="space-y-4">
            {% csrf_token %}
            {{ form}}
            <button type="submit"
                class="w-full bg-green-600 text-white py-2 px-4 rounded-lg hover:bg-green-700 transition duration-300">
                Register
            </button>
        </form>
    </div>
</div>
{% endblock %}